body{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    line-height: 0.4;
    opacity: 90%;
    background-image: url(../pic/w1.jpg);
    background-size: cover; /* This stretches the background image */
    background-repeat: no-repeat; /* Prevents image repetition */
    background-position: center; /* Centers the background image */
    /* padding: 10px; */
}

.blur{
    background-color: transparent;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(5px);
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 25px;
}

.logo {
    color: white;
    font-size: 2.5rem;
}

.menu-icon {
    display: none; /* Hide menu icon by default */
    cursor: pointer;
    background-color: white;
    padding: 5px;
    border-radius: 2px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #65C0BA;
    margin: 5px 5px;
}

.list {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.list ul {
    list-style: none;
    display: flex;
}

.list ul li {
    margin-right: 0px;
    text-decoration: none; /* Remove underline from links */
}

.list ul li a {
    color: white; /* Set link color */
    text-decoration: none; /* Remove underline from links */
    padding: 10px;
}

.list ul li a:hover {
    color: rgb(44, 0, 0);
    text-decoration: none;
    background-color: white;
    border-radius: 8px;
    transition: 0.7s;
}

.main2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    /* padding-top: 0px; */
}

.hero_section h1{ 
    color: white;
    font-family: Sofia;
    font-size: 5rem;
    line-height: 0.8;

}

.hero_section h2{
    color: white;
    font-family: Calibri;
    font-size: 2rem;
    line-height: 0.8;
}

 button.hsb{
    width: 30%;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 2rem;
    font-family: calibri;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

button.hsb:hover{
    color: rgb(44, 0, 0);
    background-color: white;
    transition: 0.5s;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block; /* Show menu icon on smaller screens */
    }

    .list {
        display: none; /* Hide the list by default on smaller screens */
        position: absolute;
        top: 70px;
        height: 100vh;
        width: 100%;
        left: 0;
        border-radius: 8px;
        justify-content: center;
        align-items: center;
    }

    .list.active {
        display: flex; /* Show the list when active (menu icon is clicked) */
        background-color: white;
    }

    .list ul {
        flex-direction: column;
        align-items: center;
    }

    .list ul li {
        margin: 30px;
    }

    .list.active ul li a {
        font-size: 2.2rem; /* Smaller text size when active */
        color: rgb(44, 0, 0);
    }

    .list.active ul li a:hover{
        background-color: #65C0BA;
        color: white;
        width: 100%;
    }

    .logo{
        font-size: 25px;
    }

    .hero_section{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 80px;
    }

    .hero_section h1{
        font-size: 3rem;
    }

    .hero_section h2{
        font-size: 1.2rem;
    }

    button.hsb{
        width: 30%;
        padding: 2px;
        margin-top: 10px;
    }
}

/* ///////////////////////////////////////About/////////////////////////////////////// */

.main3 {
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    text-align: center;
}

.about_pic img{
    flex: 2;
    /* margin-right: 30px; */
    width: 100%; 
    max-width: 600px; 
    border-radius: 8px;
    align-items: center;
    
}

.about_contant{
    flex: 2;
    padding: 20px;
}

.about_contant h2{
    font-size: 2.5rem;
    font-family: AbrilFatface;
}

.about_contant p{
    font-size: 1.2rem;
    font-family: Arial;
    color: gray;
    text-decoration: none;
}

.about_contant p .fa{
    margin-right: 5px;
    border: 2px solid #65C0BA;
    border-radius: 50%;
    font-size: 1.4rem;
    padding: 10px;
}

.about_contant p a{
    text-decoration: none;
    color: #65C0BA;
}

.about_contant p .fa:hover{
    border: 2px solid black;
    border-radius: 50%;
    font-size: 1.4rem;
    padding: 10px;
    color: black;
    transition: 0.7s;
}


.sec3 {
    width: 100%;
    background-color: rgb(242, 250, 250);
    flex-direction: column;
    padding-top: 5%;
}

.sec3 h2{
    font-size: 3.5rem;
    font-family: AbrilFatface;
    text-align: center;
}

.sec3 p{
    font-size: 1.2rem;
    font-family: Arial;
    text-align: center;
    color: gray;
    /* padding: 0px 20% 0px 20%; */
}

.main4{
    display: flex;
    flex-wrap: wrap;
    /* padding: 0px 80px 0px 80px; */
}

.main4 div{
    flex: 2;
    width: 100%;
    text-align: center;
    padding: 20px;
    flex-wrap: wrap;
    margin: 10px;
}

.main4 div:hover{
    box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    transition: 0.7s;
    cursor: pointer;
}

.main5{
    display: flex;
    flex-wrap: wrap;
    /* padding: 0px 80px 0px 80px; */
}

.main5 div{
    flex: 2;
    width: 100%;
    text-align: center;
    padding: 20px;
    flex-wrap: wrap;
    margin: 10px;
}

.main5 div:hover{
    box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    transition: 0.7s;
    cursor: pointer;
}

/* //////////////////////////Slider/////////////////////// */

.slider_background{
    background-image: linear-gradient(to bottom , white , white , #65C0BA);
    background-size: cover; /* This stretches the background image */
    background-repeat: no-repeat; /* Prevents image repetition */
    background-position: center; /* Centers the background image */
    background-position: fixed;
    height: auto;
}

.Slider{
    width: 100%;
    max-width:960px;
    margin: auto;
    text-align: center;
    /* padding: 10px; */
}

.Slider_img{
    box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.myslide{
    display: none;
    width: 100%;
    border-radius: 8px;
}

.Slider h2{
    font-size: 3rem;
    font-family: "Abril Fatface", times, serif;;
}

.Slider p{
    font-size: 1.4rem;
    font-family: Arial;
    color: gray;
}

/* ////////////////////////////////RecentBlockPost/////////////////////////// */

.recent_block_post{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    /* padding: 15% 0 10% 0; */
}

.recent_block_post_heading{
    margin: auto;
}

.main6{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
}

.main6 .card{
    background-color: white;
    max-width: 360px;
    padding-bottom: 30px;
    border-radius: 8px;
    margin: 8px;
    margin-bottom: 20px;
    cursor: pointer;
}

.main6 .post{
    width: 100%;
    max-width: 360px;
    text-align: left;
    flex-wrap: wrap;
    margin: auto;
    border-radius: 8px;
}

.post img{
    border-radius: 8px;
    border-bottom-right-radius: 50px;
    vertical-align: middle;
    align-items: center;
}

.recent_block_post h2{
    font-size: 2.8rem;
    font-family: AbrilFatface;
    margin: auto;
    text-align: center;
}

.recent_block_post .black{
    font-size: 1.2rem;
    font-family: Arial;
    color: Black;
    /* padding: 0px 10% 40px 10%; */
}

.recent_block_post .date{
    font-size: 1rem;
    font-family: "Mukta Mahee";
    color: gray;
}

.recent_block_post h3{
    font-size: 1.5rem;
    font-family: AbrilFatface;
    margin: auto;
    padding: 0px 20px 0px 20px;
    transition: 0.4s;
}

.recent_block_post h3:hover{
    color: #65C0BA;
}

.recent_block_post p{
    font-size: 1rem;
    font-family: Arial;
    color: white;
    padding: 0px 20px 0px 20px;
}

.recent_block_post .inner_R_B_P{
    font-size: 1rem;
    font-family: Arial;
    color: gray;
}

/* ////////////////////////////////Happy Customers//////////////////////////// */

.happy_customers {
    width: 100%;
    background-color: rgb(242, 250, 250);
    flex-direction: column;
    padding: 5% 0 5% 0;
}

.happy_customers h2{
    font-size: 4rem;
    font-family: AbrilFatface;
    text-align: center;
}

.main7{
    display: flex;
    flex-wrap: wrap;
    /* padding: 0px 80px 0px 80px; */
}

.main7 div{
    flex: 2;
    padding: 20px;
    flex-wrap: wrap;
    margin: auto;
}

.main7 img{
    border-radius: 50%;
}

.main7 p{
    font-size: 1.2rem;
    color: black;
    font-style: italic;
    line-height: 1.5;
    font-family: "Mukta Mahee", arial, sans-serif;
}

.main7 .name{
    font-size: 1rem;
    color: gray;
    font-style: italic;
    line-height: 1.5;
    font-family: "Mukta Mahee", arial, sans-serif;
}

/* ////////////////////////////////Top_Destination////////////////////////////// */

.Top_Destination{
    width: 100%;
    /* background-color: rgb(242, 250, 250); */
    flex-direction: column;
    padding: 5% 0 5% 0;
}

.Top_Destination h2{
    font-size: 3.5rem;
    font-family: AbrilFatface;
    text-align: center;
}

.main8{
    display: flex;
    flex-wrap: wrap;
    /* padding: 0px 80px 0px 80px; */
}

.main8 div{
    flex: 5;
    flex-wrap: wrap;
    margin: auto;
    padding: 30px;
}

.main8 img{
    width: 100%;
    min-width: 250px;
    flex-wrap: wrap;
    box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    cursor: pointer;
}

.Top_Destination .black{
    font-size: 1.2rem;
    padding: 0px 10% 0px 10%;
    color: gray;
    font-style: italic;
    line-height: 1.3;
    font-family: "Mukta Mahee", arial, sans-serif;
    text-align: center;
}

.main8 .checked{
    color: #65C0BA;
}

.main8 .review{
    float: right;
    color: gray;
    font-family: "Mukta Mahee", arial, sans-serif;
    flex-wrap: wrap;
    font-style: italic;
}

.main8 h3:hover{
    color: #65C0BA;
    transition: 0.4s;
    cursor: pointer;
}

/* ///////////////////////////////footer///////////////////////////// */

footer{
    background-color: #1a1a1a;
    padding: 20px;
}

.main9{
    display: flex;
    flex-wrap: wrap;
}

.main9 div{
    flex: 5;
    flex-wrap: wrap;
    margin: auto;
    padding: 30px;
}

.main9 h2{
    color: white;
}

.main9 i{
    color: white;
}

.main9 h3{
    color: gray;
}

.main9 a{
    text-decoration: none;
    color: gray;
    font-size: 1.3rem;
    line-height: 3rem;
}

.main9 p{
    color: gray;
    font-size: 1.3rem;
    line-height: 2.1rem;
}

.main9 form{
    color: gray;
    font-size: 1.3rem;
    line-height: 2.1rem;
}

.main9 form input[type="email"] {
    width: 80%;
    border-right: 1px solid black;
    padding: 10px;
    color: gray;
    background-color: transparent;

}

.main9 form button{
    border: none;
    padding: 10px;
    position: absolute;
    background-color: transparent;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
}

.main9 form::placeholder{
    color: gray;
}

.Footer_links{
    padding: 40px;
    text-align: center;
    color: gray;
}

.Footer_links b:hover{
    color: white;
    transition: 0.4s;
}

.Footer_links .fa{
    font-size: 1.3rem;
    margin-right: 10px;
    padding: 10px;
}

.Footer_links .fa:hover{
    color: white;
    transition: 0.4s;
}
